:host {
  --font-family: $font;
  --font-size: $cue-font-size;
  --padding: 6px 10px;
  --translate: translateY(-90px);

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  transform: var(--translate);
  box-sizing: border-box;
  transition: transform 0.1s linear;
  user-select: none;
  pointer-events: none;

  @media (max-width: 768px) {
    & {
      --font-size: calc(var(--font-size) / 2);
      --padding: 3 5px;
      --translate: translateY(-60px);
    }
  }
}

:host([idle]) {
  transform: translateY(-15px);
}

.cue {
  text-align: center;

  & > span {
    margin: 0;
    padding: var(--padding);
    border-radius: 2px;
    box-decoration-break: clone;
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);

    & > span::before {
      content: attr(title) ": ";
    }
  }
}
