
:host {
  --font-family: $font;
  --font-size: $cue-font-size;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0 20px;
  transform: translateY(-90px);
  box-sizing: border-box;
  transition: transform 0.35s ease-in;
  user-select: none;
  pointer-events: none;
}

:host([idle]) {
  transform: translateY(-15px);
}

.cue {
  text-align: center;

  & > span {
    margin: 0;
    padding: 6px 10px;
    border-radius: 2px;
    box-decoration-break: clone;
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size);

    & > span::before {
      content: attr(title) ": ";
    }
  }
}
