:host {
  --active-color: var(--primary, blue);
  --background-color: rgba(255, 255, 255, 0.4);
  --height: 10px;
  --thumb-size: var(--thumb-size);
  --thumb-color: white;
  --font: $font;
  --tooltip-text: $tooltip-text;
  --tooltip-background: $tooltip-background;
  --tooltip-font-size: $tooltip-font-size;
  --radius: var(--border-radius, calc(var(--height) / 2));

  display: flex;
  align-items: center;
  width: 100%;
}

:host([disabled]), :host([full]) {
  --thumb-size: 0!important;
}

.container {
  width: 100%;
  position: relative;
  outline: none;
}

input[type="range"] {
  appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--height);
  color: var(--active-color);
  background: var(--background-color);
  border-radius: var(--radius);
  border: 0;
  display: block;
  margin: 0;
  min-width: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  :host([disabled]) & {
    pointer-events: none;
    cursor: default;
  }

  :host([disabled]) &,
  :host([full]) & {
    background: var(--active-color);
  }

  :host([loading]) & {
    background: linear-gradient(
      to right, 
      var(--active-color) 35%, 
      var(--background-color) 37%, 
      var(--background-color) 40%,
      var(--active-color) 46%,
      var(--active-color));
    background-size: 200% 200%;
    animation: gradient 3s ease-in-out infinite;
    animation-delay: 2s;
  }

  /* Thumb */
  &::-webkit-slider-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: transparent;
    position: relative;
    border: 0;
    margin-top: calc(((var(--thumb-size) - var(--height)) / 2) * -1);
  }

  &::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: none;
    position: relative;
    border: none;
    outline: 0;
  }

  &::-ms-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: none;
    position: relative;
    border: none;
    outline: 0;
    margin-top: 0;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  /* Track */
  &::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: var(--radius);
    height: var(--height);
    user-select: none;

    background-image: linear-gradient(
      to right, 
      currentColor var(--value, 0%), 
      transparent var(--value, 0%)
    );

    :host([disabled]) &, :host([loading]) &, :host([full]) & {
      background-image: none;
    }
  }

  &::-webkit-slider-runnable-track,
  &::-ms-track,
  &::-ms-fill-upper,
  &::-ms-fill-lower {
    background: transparent;
    border: 0;
    border-radius: var(--radius);
    height: var(--height);
    user-select: none;
  }

  &::-moz-range-progress {
    background: currentColor;
    border-radius: var(--radius);
    height: var(--height);
  }

  &::-ms-track {
    color: transparent;
  }

  &::-ms-fill-lower {
    background: currentColor;
  }
}

.tooltip {
  z-index: 1;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  display: none;
  :host(:hover) &{
    display: block;
  }
}

.inner {
  padding: 6px 12px;
  font-family: var(--font);
  border-radius: 4px;
  color: var(--tooltip-text);
  font-size: var(--tooltip-font-size);
  line-height: calc(var(--tooltip-font-size) * 1.5);
  background: var(--tooltip-background);
  white-space: nowrap;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
