:host {
  --active-color: blue;
  --background-color: rgba(255, 255, 255, 0.4);
  --border-radius: 2px;
  --height: 10px;
  --thumb-size: var(--thumb-size);
  --thumb-color: white;
  --font: $font;
  --tooltip-text: $tooltip-text;
  --tooltip-background: $tooltip-background;
  --tooltip-font-size: $tooltip-font-size;

  display: flex;
  align-items: center;
  box-sizing: borde-box;
  width: 100%;
}

:host(:not([full-width])) {
  padding: 0 calc(var(--thumb-size) / 2);
}

.container {
  width: 100%;
  position: relative;
  transform: scale(1);
  outline: none;
}

input[type="range"] {
  appearance: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: var(--height);
  color: var(--active-color);
  background: var(--background-color);
  border: 0;
  display: block;
  margin: 0;
  min-width: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  border-radius: calc(var(--height) / 2);

  /* Thumb */
  &::-webkit-slider-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: transparent;
    position: relative;
    border: 0;
    margin-top: calc(((var(--thumb-size) - var(--height)) / 2) * -1);
  }

  &::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: none;
    position: relative;
    border: none;
    outline: 0;
  }

  &::-ms-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--thumb-color);
    box-shadow: none;
    position: relative;
    border: none;
    outline: 0;
    margin-top: 0;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-moz-focus-outer {
    border: 0;
  }

  &:focus {
    outline: 0;
  }

  /* Track */
  &::-webkit-slider-runnable-track {
    background: transparent;
    border: 0;
    border-radius: calc(var(--height) / 2);
    height: var(--height);
    user-select: none;

    background-image: linear-gradient(
      to right, 
      currentColor var(--value, 0%), 
      transparent var(--value, 0%)
    );
  }

  &::-webkit-slider-runnable-track,
  &::-ms-track,
  &::-ms-fill-upper,
  &::-ms-fill-lower {
    background: transparent;
    border: 0;
    border-radius: calc(var(--height) / 2);
    height: var(--height);
    user-select: none;
  }

  &::-moz-range-progress {
    background: currentColor;
    border-radius: calc(var(--height) / 2);
    height: var(--height);
  }

  &::-ms-track {
    color: transparent;
  }

  &::-ms-fill-lower {
    background: currentColor;
  }
}

progress {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: calc(var(--height) / 2);
  height: 5px;
  left: 0;
  margin-top: -2.5px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.tooltip {
  display: none;
  position: absolute;
  left: var(--value);
  transform: translateX(-50%);
  padding: 6px 12px;
  bottom: 100%;
  margin-bottom: 18px;
  z-index: 1;
  font-family: var(--font);
  border-radius: 4px;
  color: var(--tooltip-text);
  font-size: var(--tooltip-font-size);
  line-height: calc(var(--tooltip-font-size) * 1.5);
  white-space: nowrap;
  background: var(--tooltip-background);
  overflow: hidden;
  user-select: none;

  .container:hover & {
    display: block;
  }
}
