@import '../../variables.css';

:host {
  --size: 1.5rem;
}

@media (min-width: 768px) {
  :host {
    --size: 1.75rem;
  }
}

::slotted(svg) {
  display: block;
  width: var(--size);
  height: var(--size);
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem;
  border: none;
  background: transparent;
  color: white;
  position: relative;
  color: white;
  & svg {
    display: block;
    width: var(--size);
    height: var(--size);
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.tooltip, .menu {
  font-family: var(--font-family);
  position: absolute;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 1.43;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.8);
  height: 0;
  overflow: hidden;
  user-select: none;
  & .inner {
    padding: 6px 12px;
  }
  &[data-popper-placement] {
    height: auto;
  }
}

.menu {
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    padding: 6px 12px;
    cursor: pointer;
    list-style: none;
    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
