:host {
  --font: $font;
  --tooltip-text: $tooltip-text;
  --tooltip-background: $tooltip-background;
  --tooltip-font-size: $tooltip-font-size;
  --button-color: $button-color;
  --button-size: $button-size;

  --menu-item-color: $menu-item-color;
  --menu-item-background: $menu-item-background;
  --menu-item-background-active: $menu-item-background-active;
  --menu-item-color-active: $menu-item-color-active;
  --menu-item-background-hover: var(--primary, $menu-item-background-hover);
  --menu-item-color-hover: $menu-item-color-hover;

  --size: var(--button-size);
}

@media (min-width: 768px) {
  :host {
    --size: calc(var(--button-size) * 1.5);
  }
}

::slotted(svg) {
  display: block;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem;
  border: none;
  color: var(--button-color);
  background: transparent;
  position: relative;
  width: var(--size);
  height: var(--size);
  opacity: 0.8;
  transition: opacity 0.2s ease;
  & svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    opacity: 1;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
}

.tooltip,
.menu {
  z-index: 1;
  font-family: var(--font);
  position: absolute;
  border-radius: 4px;
  color: var(--tooltip-text);
  font-size: var(--tooltip-font-size);
  line-height: calc(var(--tooltip-font-size) * 1.5);
  white-space: nowrap;
  background: var(--tooltip-background);
  height: 0;
  overflow: hidden;
  user-select: none;
  & .inner {
    padding: 6px 12px;
  }
  &[data-popper-placement] {
    height: auto;
  }
}

@media (max-width: 640px) {
  :host(:not([is-fullscreen])) .menu {
    max-height: 150px;
    overflow: auto;
  }
}

.menu .inner {
  padding: 0;
}
