:host {
  --font: $font;
  --item-width: $menu-item-width;
  --item-padding: $menu-item-padding;
  --item-background: $menu-item-background;
  --item-color: $menu-item-color;
  --item-background-active: $menu-item-background-active;
  --item-color-active: $menu-item-color-active;
  --item-background-hover: $menu-item-background-hover;
  --item-color-hover: $menu-item-color-hover;

  position: relative;
  z-index: 2;
}

.menu {
  &,
  & li {
    margin: 0;
    padding: 0;
  }
  & li {
    list-style: none;
  }
}

.title {
  padding: var(--item-padding);
  margin: 0;
  font-size: 14px;
}

.item {
  display: flex;
  align-items: center;
  border: none;
  width: 100%;
  padding: var(--item-padding);
  min-width: var(--item-width);
  color: var(--menu-item-color);
  background: var(--menu-item-background);
  cursor: pointer;
  & svg {
    width: auto;
  }
  &:hover {
    color: var(--menu-item-color-hover);
    background: var(--menu-item-background-hover);
  }
  &[area-pressed="true"] {
    color: var(--menu-item-color-active);
    background: var(--menu-item-background-active);
  }
}

.text {
  margin-inline-end: auto;
}

code {
  min-width: 24px;
  height: 24px;
  padding: 0 6px;
  border-radius: 4px;
  line-height: 24px;
  margin-left: 6px;
  font-size: 12px;
  outline: 1px solid var(--menu-item-color);
  box-sizing: border-box;
  .item:hover & {
    outline-color: var(--menu-item-color-hover);
  }
}
