
:host {
  --aspect-ratio: 9 / 16;

  position: relative;
  display: block;
  padding-bottom: calc(var(--aspect-ratio) * 100%);
}

::slotted(video) {
  position: absolute;
  object-fit: contain;
  outline: none;
  background: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
