:host {
  --font: $font;
}

div {
  font-family: var(--font);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 80%;
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 8px;
  border-radius: 4px;
  z-index: 2;
  overflow: hidden;
}
