:host {
  --slider-width: 60px;
  --slider-height: 0.2rem;
  --slider-active-color: white;
  --slider-background-color: rgba(255, 255, 255, 0.4);
  --slider-thumb-size: 0.75rem;

  display: flex;
  flex-wrap: no-wrap;
}

video-slider {
  --active-color: var(--slider-active-color);
  --background-color: var(--slider-background-color);
  --height: var(--slider-height);
  --thumb-size: var(--slider-thumb-size);
  --border-radius: calc(var(--slider-height) / 2);

  width: var(--slider-width);
  padding: 20px calc(var(--slider-thumb-size) / 2);
  overflow: hidden;
}
