:host {
  --buffer-color: rgba(255, 255, 255, 0.4);
  --progress-color: var(--primary, blue);
  --progress-background-color: rgba(255, 255, 255, 0.2);
  --slider-thumb-size: var(--thumb-size, 1rem);
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 0;

  @media (min-width: 768px) {
    & {
      margin-bottom: 10px;
    }
  }
}

::slotted(*) {
  margin-inline-start: 0.5rem;
}

video-slider {
  --active-color: transparent;
  --background-color: transparent;
  --height: 1.5rem;
  --thumb-size: var(--slider-thumb-size);
  --border-radius: 0;

  height: 1rem;
  padding-top: 20px;

  &[disabled],
  &[full] {
    --height: 0.25rem !important;
    --active-color: var(--progress-color);
  }

  :host(:not([full-width])) & {
    --border-radius: calc(var(--height) / 2);
  }
}

.buffered {
  --color: var(--buffer-color);
}

.progress {
  --color: var(--progress-color);
  --background: var(--progress-background-color);
  --bar-radius: calc(var(--height) / 2) 0 0 calc(var(--height) / 2);
}

.loading {
  display: block;
  position: relative;
  margin-right: 20px;
  width: 100%;
  height: 1rem;
  --color: var(--progress-color);
  --height: 0.5rem;
}

.progress-container {
  --height: 0.25rem;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.fraction {
  position: relative;
  height: 100%;
  margin: 0 2px;
  width: calc(var(--width) - 4px);
  &:first-child,
  &:last-child {
    width: calc(var(--width) - 2px);
  }
  &:first-child {
    margin: 0 2px 0 0;
  }
  &:last-child {
    margin: 0 0 0 2px;
  }
  &:only-child {
    width: var(--width);
    margin: 0;
  }
}

.hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

video-slider:hover .active {
  --height: 0.5rem;
}

video-timer {
  --text-color: white;
}

video-progress {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: calc(var(--height) / -2);
  /* transform: translate3d(0, -50%, 0); */
}

svg {
  position: absolute;
}
