:host {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

video-slider {
  --active-color: blue;
  --background-color: rgba(255, 255, 255, 0.4);
  --height: 0.25rem;
  --thumb-size: 1rem;
  --border-radius: calc(var(--height) / 2);

  height: 1rem;
  padding-top: 20px;
  &:hover {
    --height: 0.5rem;
  }
}

video-timer{
  --text-color: white;
}
