:host(:not([custom])) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 10px;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease-in-out;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 53.63%,
    rgba(0, 0, 0, 0) 96.2%
  );
  opacity: 1;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: 768px) {
    & {
      padding: 28px 16px 16px;
    }
  }
}

:host([idle][playing]) {
  opacity: 0;
}

::slotted(hr) {
  border: none;
}
